h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    text-align: center;
    border-radius: 3px;
    border-style: outset;
    border-color: blanchedalmond;
    color: tan;
}

body {
    background-color: tan;
    text-align: left;
    
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:white;
    border-radius: 1px;
    border-style: outset;
    border-color: blanchedalmond;
}
.box {
    display: grid;
    width: 540px;
    align-items: start;
    grid-template-columns: 120px 120px 120px;
    align-content: start;
}
div {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

Button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size: 60px;
    outline-color: blanchedalmond;
    background-color: beige;
    margin-left: auto;
    margin-top: auto;
    border-style: outset;
    border-color: blanchedalmond;
    color: rgb(167, 132, 87);
    padding: 10px 20px;
}
button:hover {
background-color: bisque;
}

img {
    display: block;
    margin-left: 900px;
    margin-top: 1px;
    width: 50%;
    border-radius: 10%;
    border-style: outset;
    border-color: blanchedalmond;
}